#z1_1{
    height: 400px;
    width: 150px;
    background: linear-gradient(to bottom, #ff9800, #ffeb3b);
}
#z1{
    display: inline-block;
}
#z1_11{
    width: 100px;
    height: 100px;
    margin: 15px;
    background: linear-gradient(to bottom, #00f260, #0575e6);
}
#z1_12{
    width: 100px;
    height: 100px;
    margin: 15px;
    background: linear-gradient(to top left, #00f260, #0575e6);
}
#z1_13{
    width: 100px;
    height: 100px;
    margin: 15px;
    background: linear-gradient(to top, #00f260, #0575e6);
}
#z1_14{
    width: 100px;
    height: 100px;
    margin: 15px;
    background: linear-gradient(to left, #00f260, #0575e6);
}
#z1_15{
    width: 100px;
    height: 100px;
    margin: 15px;
    background: linear-gradient(to top right, #00f260, #0575e6);
}
#z1_16{
    width: 100px;
    height: 100px;
    margin: 15px;
    background: linear-gradient(to right, #00f260, #0575e6);
}
#z1_3{
    width: 200px;
    height: 200px;
    background: radial-gradient(#4158d0, #c850c0);
    margin-bottom: 30px;
}
.card{
    height: 430px;
    width: 330px;
    padding: 30px;
    font-size: 24px;
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(to top right, #4158d0, #c850c0, #ffcc70 );
    margin-bottom: 30px;
}
.card1{
    height: 430px;
    width: 330px;
    padding: 30px;
    font-size: 24px;
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(to top right, #4158d0 0%,#4158d0 40%, #c850c0 40%,#c850c0 90%, #ffcc70 90%,#ffcc70 100%);
    margin-bottom: 30px;
}
#z3{
    margin: 50px;
    height: 100px;
    width: 100px;
    background-color: blue;
    transition: all 0.3s ease;
}
#z3:hover{
    transform: scale(1.2) rotate(45deg);
}
.gradient{
    height: 300px;
    width: 100%;
    background: linear-gradient(149deg, rgba(24,187,156,1) 0%,rgba(106,57,175,1) 42%,rgba(187,24,148,1) 72%,rgba(115,53,134,1) 100%);
    animation: gradient 10s infinite linear;
    background-size: 400%;
}
@keyframes gradient {
    0%{
        background-position: 80% 0%;
    }
    50%{
        background-position: 20% 100%;
    }
    100%{
        background-position: 80% 0%;
    }
}